.row{
	margin: 0 !important;
}
.about{
	position: absolute;
	    font-size: 40px;
    color: #fff;
    font-weight: 900 !important;
    text-transform: uppercase;
    top: 50%;
    left: 46.5%;
}
.conteiner1{
width: 100%;
height: 700px;
overflow: hidden;
}
.bigimg{
	max-height: 950px !important;
	transform: scaleY(1.3);
}
.navbar-collapse {
	margin: 2% 0 0 5%;
}
.nav-link:hover{
	cursor: pointer;
}
.nav1{
	width: 100%;
	position: absolute;
	z-index: 5;
	padding: 1% 0 0 10%;
	top: 0;
}
.navbar{
	background: none !important;
}
.nav-link {

	color: white !important;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background-color: transparent;
	border: none;
}

.nav-link:focus {
	outline: none;
}
.navbar-brand {
	font-size: 30px !important;
	color: white !important;
	margin-right: 5% !important;
	background-color:transparent;
	border:none;
}
.navbar-brand:focus{
	outline:none;
}
#a1{
	background: #f73471;
	text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 150px;
}
.sectin2{
	padding-top: 10%;
}
.heading-wrap h2:before {
    width: 80px;
    height: 2px;
    background: #f73471;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.heading-wrap h2{
	font-size: 50px;
    position: relative;
    padding-top: 30px;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 800;
}
.heading-wrap{
	margin-bottom: 100px;
}
.back-text{
	opacity: 0.5;
	font-weight: 500;
}
#sectin99{
	padding: 0;
}
.col-5{
	display: flex;
}
p{
	margin: 10px;
	margin: 40px 0 10px 0 !important;
	opacity: 0.7;
}
.boxnews{
	margin: 15px 0 15px 0;
}
.img{
	margin: 0;
	width: 90%;
	height: 90%;
	margin-right: 10px;
}
.galleryimg{
	margin: 0;
	width: 100%;
	height: 100%;
}
.newstext{
align-self: center;
margin-top: -20px;
}
.btn-primary{
	background-color: #f73471 !important;
	border: #f73471 !important;
}
footer{
	margin-top: 100px;
	height: 400px;
	padding-top: 100px;
	background-color: #262626;
}
.grey{
	color: grey;
}