.row{
	margin: 0 !important;
}
.conteiner1{
width: 100%;
height: 700px;
overflow: hidden;
}
.bigimg{
	max-height: 950px !important;
	transform: scaleY(1.3);
}
.about{
	position: absolute;
	font-size: 40px;
    color: #fff;
    font-weight: 900 !important;
    text-transform: uppercase;
    top: 35%;
    left: 46%;
}
.nav1{
	width: 100%;
	position: absolute;
	z-index: 5;
	padding: 1% 0 0 10%;
	top: 0;
}
.navbar{
	background: none !important;
}
.nav-link {

	color: white !important;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background-color: transparent;
	border: none;
}
.navbar-collapse {
	margin: 2% 0 0 5%;
}
.nav-link:hover{
	cursor: pointer;
}
.nav-link:focus {
	outline: none;
}
.navbar-brand {
	font-size: 30px !important;
	color: white !important;
	margin-right: 5% !important;
	background-color:transparent;
	border:none;
}
.navbar-brand:focus{
	outline:none;
}
#a1{
	background: #f73471;
	text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-right: 150px;
}
.formreg{
	box-shadow: 0 20px 50px -10px;
	margin-top: -220px;
	background-color: white;
	height: 400px;
}
.logtext{
	margin: 50px 0 0 50px;
	font-size: 25px;
}
.form-group{
	margin-top: 50px;
	width: 80%;
	margin-left: 9%;
}
.control2{
	margin: -30px 0 0 0;
	border: solid 2px #ced4da !important;
	height: 50px !important;
}
.control1{
	margin-bottom: 0;
	border: solid 2px #ced4da !important;
	height: 50px !important;
}
.btn-primary{
	width: 80%;
	justify-content: center;
	margin-left: 9%;
	margin-top: 50px;
	background-color: #f73471 !important;
	border: #f73471 !important;
	height: 50px;
}
footer{
	margin-top: 100px;
	height: 400px;
	padding-top: 100px;
	background-color: #262626;
}
.grey{
	color: grey;
}
